.has-image {
  display: grid;
  gap: 20px;
  grid-template-columns: 78px 1fr;
}

.image img {
  border-radius: 50%;
  width: 76px;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  margin: 0;
  a {
    color: var(--c-brand-orange-200);
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    font-family: var(--ff-body);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.subtitle {
  color: var(--CHN-Dark-Gray, #435563);
  leading-trim: both;
  text-edge: cap;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: 'Proxima Nova';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.body {
  color: var(--c-neutral-gray-500);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  font-family: var(--ff-body);
  p {
    word-wrap: break-word;
  }
}
