.has-image {
  display: grid;
  gap: 20px;
  &:not(.is-mobile) {
    grid-template-columns: 78px 1fr;
  }
}

.image img {
  aspect-ratio: 1/1;
  width: 76px;
  overflow: hidden;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  margin: 0;
  a {
    color: var(--c-brand-orange-200);
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    font-family: var(--ff-body);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.subtitle {
  color: var(--c-neutral-gray-500);
  leading-trim: both;
  text-edge: cap;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  font-family: var(--ff-body);
  font-feature-settings:
    'clig' off,
    'liga' off;
}

.body,
.location-information a {
  color: var(--c-neutral-gray-600);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  font-family: var(--ff-body);
  p {
    margin: 0;
    word-wrap: break-word;
  }
}

.body h4 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  color: var(--c-neutral-gray-500);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 120%;
}

.body.has-hours {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 2rem;
  &.is-mobile {
    grid-template-columns: auto;
  }
}

.location-information {
  p {
    margin: 0;
  }

  .inner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.phone,
.fax,
.directions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  &:before {
    display: block;

    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    content: '';
  }
}

.phone {
  &:before {
    background: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M4.413 7.193a10.1 10.1 0 0 0 4.394 4.394l1.466-1.467c.18-.18.447-.24.68-.16.747.247 1.554.38 2.38.38.367 0 .667.3.667.667v2.326c0 .367-.3.667-.667.667C7.073 14 2 8.927 2 2.667 2 2.3 2.3 2 2.667 2H5c.367 0 .667.3.667.667 0 .833.133 1.633.38 2.38a.669.669 0 0 1-.167.68L4.413 7.193Z" fill="%23000"/></svg>');
  }
}

.fax {
  text-decoration: underline;
  &:before {
    background: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12.667 6H12V2.667H5.333v10.666h9.334V8c0-1.107-.893-2-2-2Zm-6-2h4v2h-4V4Zm2.667 7.333H6.667V8h2.667v3.333Zm1.333 0a.669.669 0 0 1-.667-.667c0-.366.3-.666.667-.666.367 0 .667.3.667.666 0 .367-.3.667-.667.667Zm0-2A.669.669 0 0 1 10 8.666c0-.366.3-.666.667-.666.367 0 .667.3.667.666 0 .367-.3.667-.667.667Zm2 2a.669.669 0 0 1-.667-.667c0-.366.3-.666.667-.666.367 0 .667.3.667.666 0 .367-.3.667-.667.667Zm0-2A.669.669 0 0 1 12 8.666c0-.366.3-.666.667-.666.367 0 .667.3.667.666 0 .367-.3.667-.667.667ZM3 5.333A1.667 1.667 0 0 0 1.333 7v5.333a1.667 1.667 0 0 0 3.334 0V7A1.667 1.667 0 0 0 3 5.333Z" fill="%23000"/></svg>');
  }
}

.directions {
  &:before {
    background: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12 5.333c0-2.206-1.793-4-4-4s-4 1.794-4 4c0 3 4 7.334 4 7.334s4-4.333 4-7.333Zm-5.333 0C6.667 4.6 7.267 4 8 4s1.334.6 1.334 1.333a1.333 1.333 0 0 1-2.667 0Zm-3.333 8v1.334h9.333v-1.333H3.334Z" fill="%23000"/></svg>');
  }
}

.hours p {
  margin-bottom: 0.5rem;
}

.cta {
  margin-top: 1.25rem;
}

.highlight {
  font-weight: bold;
}
