.btn {
  display: inline-block;
  border-radius: 5px;
  background: var(--c-brand-orange-200);
  padding: 0.625rem 0.75rem;
  color: var(--c-neutral-white);
  font-family: var(--ff-body);
  font-size: 0.95rem;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
  transition: 0.3s ease;
  &:hover,
  &:focus {
    background-color: var(--c-brand-orange-100);
  }
}
