@import url('../outline-search-bar/outline-search-bar.css');
@import url('../../../global-hidden.css');

:host {
  --lds-ring-color: var(--brand-primary);
  display: block;
}

outline-heading {
  margin-block-start: 5rem;
}

[hidden] {
  display: none;
}

.exposed-filters {
  margin-block-start: 2rem;
}
.isMobile aside {
  form {
    padding: 0rem 1rem;
  }
  .menu-dropdown-close {
    all: unset;
    margin: var(--spacing-2);
    padding: 12px;
    cursor: pointer;

    &:focus {
      outline: 2px solid
        var(--outline-form-outline-color-hover-select, var(--medium-blue));
      outline-offset: 5px;
      filter: drop-shadow(3px 3px 11px rgba(0, 0, 0, 0.05))
        drop-shadow(8px 10px 26px rgba(0, 0, 0, 0.19));
    }
  }
  h2 {
    padding-left: 1rem;
  }
  .slider-modal {
    visibility: hidden;
    z-index: 500;
    position: fixed;
    height: 100%;
    inset: 0;
    overflow: auto;
    transform: translateX(100%);
    background: var(--white);
    opacity: 0;
    @media (prefers-reduced-motion: no-preference) {
      transition: transform 0.3s 0s, opacity 0s 0.3s, visibility 0s 0.3s;
    }
  }

  .is-active {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
    @media (prefers-reduced-motion: no-preference) {
      transition: transform 0.3s 0s;
    }
  }
}

.mobile-hidden {
  visibility: hidden;
}
.slider-modal.is-active form {
  contain: content;
  height: calc(100% -190px);
  overflow: auto;
}
.container-cta-sticky {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-block: 0.3rem 0.15rem;
  gap: clamp(0.5rem, -3rem + 20vw, 3rem);
  border-top: 1px solid var(--black-450);
  background-color: var(--white);
}
hr {
  margin-block: 2rem;
  color: var(--black-400);
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: var(--gap-4lg);

  &.isMobile {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
    gap: 0rem;
  }

  main {
    flex: 1;
  }
}

.profiles-list {
  all: unset;
}
.profiles-list li:first-child hr {
  margin-top: 0.7rem;
  margin-bottom: 2rem;
}

.profile {
  all: unset;
  width: 100%;
}

.list-separator {
  all: unset;
}

.lds-ring {
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  inset: 0;
  backdrop-filter: blur(5px);

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.2s forwards;

  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lds-ring div {
  @media (prefers-reduced-motion: no-preference) {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 10rem;
    height: 10rem;
    margin: 8px;
    border: 2rem solid var(--lds-ring-color);
    border-radius: var(--br-base);
    border-color: var(--lds-ring-color) transparent transparent transparent;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.debug {
  height: 300px;
  overflow: auto;
  transition-duration: 0.5s;

  summary {
    margin-inline-start: 0.5rem;
    color: var(--status-error);
    filter: drop-shadow(1px 1px 2px white);
  }

  &[open] {
    position: static;
    border: 5px dashed var(--status-error);
    background-color: black;
    color: greenyellow;
  }

  &:not([open]) {
    position: absolute;
    height: 2rem;
  }

  pre {
    padding: 0.5rem;
    white-space: pre-wrap;
    word-break: break-word;
  }
}

.toggle:has(.toggle__input:focus-visible) {
  outline: 2px solid var(--dark-blue);
  outline-offset: 4px;
}

.toggle-track {
  display: flex;
  align-items: center;
  width: 44px;
  height: 24px;
  margin-right: 12px;
  padding: 4px;
  border-radius: 100px;
  background: var(--black-500);
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}

.toggle-indicator {
  width: 18px;
  height: 18px;
  border-radius: var(--br-base);
  background: var(--white);
  transition: transform 0.1s ease-in-out;
}

.toggle__input:checked + .toggle-track {
  background: var(--dark-green);

  .toggle-indicator {
    transform: translateX(18px);
  }
}

@media screen and (-ms-high-contrast: active) {
  .toggle-track {
    border-radius: 0;
  }
}
.filters-wrapper-desktop {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--gap-base);
}
.filters-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding-block: 1rem;
}
.isMobile {
  outline-pager {
    --outline-pager-item: 12px;
  }
  outline-heading {
    margin-block-start: 2rem;
  }
  .filters-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--gap-xs);
    border-top: 2px solid var(--black-400);
    border-bottom: 2px solid var(--black-400);
  }

  .profiles-list li:first-child hr {
    visibility: hidden;
    margin: 0 0 1rem 0;
  }
  .container-cta-sticky {
    --fs-p-base: 1rem;
  }
}

.filters-container {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px 4px 0px 0px;
  padding: var(--spacing-0);
  gap: var(--gap-xs);
  list-style: none;
}

.filter-option {
  display: inline-block;
}
.menu-dropdown-open,
.outline-form {
  margin-inline-start: auto;
}

.outline-form select,
.menu-dropdown-open {
  appearance: none;
  margin-inline-start: auto;
  padding: 0.375rem 1.5rem 0.375rem 1rem;
  border: 1px solid var(--black-700);
  border-radius: 0.5rem;
  background: var(--white);
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7656 2.56641L8.53125 8.43164C8.32617 8.63672 8.08008 8.71875 7.875 8.71875C7.62891 8.71875 7.38281 8.63672 7.17773 8.47266L0.943359 2.56641C0.533203 2.19727 0.533203 1.58203 0.902344 1.17188C1.27148 0.761719 1.88672 0.761719 2.29688 1.13086L7.875 6.38086L13.4121 1.13086C13.8223 0.761719 14.4375 0.761719 14.8066 1.17188C15.1758 1.58203 15.1758 2.19727 14.7656 2.56641Z' fill='%23171717'/%3E%3C/svg%3E");
  background-position: 90% center;
  background-position: 97% center;
  background-size: 1em;
  background-repeat: no-repeat;
  color: var(--black-700);
  font-style: normal;
  font-weight: var(--fw-normal);
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  font-family: var(--ff-body);

  &:hover,
  &:focus {
    outline: 2px solid
      var(--outline-form-outline-color-hover-select, var(--medium-blue));
    outline-offset: 5px;
    filter: drop-shadow(3px 3px 11px rgba(0, 0, 0, 0.05))
      drop-shadow(8px 10px 26px rgba(0, 0, 0, 0.19));
  }
}

.remove-filter-icon {
  padding-inline-start: 0.5rem;
}

aside form {
  fieldset {
    margin: var(--spacing-0);
    padding: 1rem 0rem;
    border: none;
  }

  details {
    padding-block: 1rem;
    border-bottom: 1px solid var(--black-450);

    summary {
      display: flex;
      align-items: center;
      gap: var(--gap-xs);
      color: var(--black-800);
      font-weight: var(--fw-semibold);
      font-size: var(--fs-lg);
      line-height: var(--lh-base);
      font-family: var(--ff-body);
      cursor: pointer;
      &::before {
        -webkit-mask: url('data:image/svg+xml;utf8,<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6602 6.08496V8.29395H0.990234V6.08496H13.6602ZM8.50586 0.689453V14.1465H6.15723V0.689453H8.50586Z" fill="currentColor"/></svg>')
          no-repeat 50% 50%;
        -webkit-mask-size: auto;
        width: 1rem;
        height: 1rem;
        background-color: var(--color-font-content, var(--dark-blue));
        content: '';
        mask: url('data:image/svg+xml;utf8,<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6602 6.08496V8.29395H0.990234V6.08496H13.6602ZM8.50586 0.689453V14.1465H6.15723V0.689453H8.50586Z" fill="currentColor"/></svg>')
          no-repeat 50% 50%;
        mask-size: auto;
      }
      &:focus-visible {
        outline: 2px solid var(--medium-blue);
        outline-offset: 5px;
      }
    }
  }
  details[open] summary::before {
    -webkit-mask: url('data:image/svg+xml;utf8,<svg width="18" height="27" viewBox="0 0 18 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.7773 12.8057V14.7354H2.05664V12.8057H14.7773Z" fill="currentColor"/></svg>')
      no-repeat 50% 50%;
    -webkit-mask-size: auto;
    width: 1rem;
    height: 1rem;
    background-color: var(--color-font-content, var(--dark-blue));
    content: '';
    mask: url('data:image/svg+xml;utf8,<svg width="18" height="27" viewBox="0 0 18 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.7773 12.8057V14.7354H2.05664V12.8057H14.7773Z" fill="currentColor"/></svg>')
      no-repeat 50% 50%;
    mask-size: auto;
  }
  ul {
    margin: 1rem 0px 0px;
    padding: var(--spacing-0);
    li {
      padding-bottom: var(--spacing-2);
      padding-inline-start: 1rem;
      list-style: none;
    }
  }
  .checkbox-container {
    padding-left: 0rem;
  }
  .checkbox-container label {
    display: inline-flex;
    color: var(--black-800);
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    font-family: var(--ff-body);
    cursor: pointer;
  }
}

.suggested-title {
  color: var(--black-800);
  font-weight: var(--fw-bold);
  font-size: var(--fs-xs);
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.suggested-list {
  z-index: 1;
  position: absolute;
  width: 80%;
  max-width: 45rem;
  padding: var(--spacing-4);
  border: 1px solid var(--black-700);
  border-radius: var(--gap-xs);
  background-color: var(--white);
  list-style: none;
  li {
    margin: 14px 1rem;
  }
  button {
    all: unset;
    color: var(--medium-blue);
    font-style: normal;
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &:focus-visible {
      outline: 2px solid var(--medium-blue);
      outline-offset: 5px;
    }
  }
}
.suggestion-highlight {
  font-weight: var(--fw-bold);
}
.close-suggestion {
  display: none;
}

.search-facets {
  label {
    margin: 8px 0px 0px 8px;
    color: var(--black-700);
    font-style: normal;
    font-size: var(--fs-xs);
    line-height: var(--lh-sm);
    font-family: var(--ff-body);
  }
  input[type='text'] {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: var(--spacing-2);
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--black-700);
    border-radius: 0.5rem;
    background: var(--white);
    color: var(--black-800);
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    font-family: var(--ff-body);
    font-family: var(--ff-body);

    &:hover,
    &:focus {
      outline: 2px solid var(--medium-blue);
      filter: drop-shadow(3px 3px 11px rgba(0, 0, 0, 0.05))
        drop-shadow(8px 10px 26px rgba(0, 0, 0, 0.19));
    }

    &:placeholder {
      color: var(--black-700);
      font-size: var(--fs-base);
      line-height: var(--lh-base);
      font-family: var(--ff-body);
      opacity: 1;
    }
  }
}

summary::-webkit-details-marker {
  display: none;
}
