:host {
  --c-brand-orange: #f15d22;
  --c-brand-blue-200: #3791c4;
  --c-brand-blue-300: #2f83b3;
  --c-neutral-gray-100: #dbdee0;
  --c-neutral-gray-200: #eff3f4;
  --c-neutral-gray-300: #42525f;
  --c-neutral-gray-400: #313233;
  --c-neutral-white: #f9fcfe;

  --ff-display: Merriweather, 'Helvetica', 'Arial', 'sans-serif';
  --ff-body: 'Proxima Nova', 'Helvetica', 'Arial', 'sans-serif';

  display: block;
  position: relative;
  margin: 0 auto;
  background: var(--c-neutral-gray-200, #eff3f4);
}

/* START of global / wrapper styling */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.wrapper.is-mobile {
  padding: 0;
}
/* END of global / wrapper styling */

/* START of search form styling */
.search-form {
  background-color: var(--c-neutral-white);
  padding: 3rem 0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.search-form__inner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form form.is-desktop {
  font-family: var(--ff-body);
  display: flex;
  align-items: center;
}

.search-form input[type='text'] {
  height: 48px;
  min-width: 300px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #dbdee0;
  padding: 0 1rem;
  font-size: 1rem;
}

.search-form .form-submit {
  font-family: var(--ff-body);
  font-size: 20px;
  height: 48px;
  width: 100px;
  padding: 1rem;
  background: var(--c-brand-blue-300, #2f83b3);
  margin-left: -4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid var(--c-brand-blue-300, #2f83b3);
  color: var(--c-neutral-white, #f9fcfe);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    background: var(--c-brand-blue-200, #3791c4);
  }
}

.search-form.is-mobile {
  padding: 3rem 20px;
}

.search-form.is-mobile input[type='text'] {
  border-radius: 5px;
  height: 40px;
}

.search-form.is-mobile .form-submit {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin: 0;
  margin-top: 10px;
}

/* END of search form styling */

/* START of vertical nav styling */
.vertical-nav {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background: var(--c-neutral-white, #f9fcfe);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 1.25rem 1.875rem;

  .vertical-nav__heading {
    color: var(--c-neutral-gray-300, #42525f);
    font-family: Merriweather;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
  }

  .vertical-nav__heading.is-mobile {
    padding: 0 20px;
  }
}

.vertical-nav ul.is-desktop {
  display: flex;
  gap: 2rem;
}

.vertical-nav li,
.vertical-nav button {
  cursor: pointer;
}

.vertical-nav button {
  color: var(--c-neutral-gray-300, #42525f);
  leading-trim: both;
  text-edge: cap;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;

  &:hover,
  &:focus {
    color: var(--c-brand-blue-300, #2f83b3);
  }
}

.vertical-nav li.active button {
  font-weight: bold;
  color: var(--c-brand-blue, #2f83b3);
  padding-bottom: 0.75rem;
}

.vertical-nav li.active::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--c-brand-blue-300, #2f83b3);
}

.vertical-nav.is-mobile {
  padding: 20px 0;
}

.vertical-nav.is-mobile button {
  padding: 1rem;
  border-bottom: 1px solid var(--Neutral-Grey-50, #d6dee4);
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
}

.vertical-nav.is-mobile li.active::after {
  display: none;
}

.vertical-nav.is-mobile li.active button {
  background: var(--CHN-Blue, #2f83b3);
  color: white;
}

.vertical-nav__dropdown {
}

.vertical-nav__dropdown-button {
  border-bottom: 1px solid var(--CHN-Dark-Gray, #435563);
  background: var(--CHN-Gray, #eff3f4);
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  &::after {
    content: '';
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M15.2812 19.5312C15.4062 19.7188 15.5938 19.7812 15.8125 19.7812C16 19.7812 16.1875 19.7188 16.3438 19.5312L22.4062 13.4688C22.5312 13.3438 22.625 13.1562 22.625 12.9375C22.625 12.75 22.5312 12.5625 22.4062 12.4062L21.7188 11.7188C21.5625 11.5938 21.375 11.5 21.1875 11.5C20.9688 11.5 20.7812 11.5625 20.6562 11.6875L15.8125 16.5312L10.9688 11.6875C10.8125 11.5625 10.625 11.5 10.4375 11.5C10.2188 11.5 10.0312 11.5938 9.90625 11.7188L9.21875 12.4062C9.0625 12.5625 9 12.75 9 12.9375C9 13.1562 9.0625 13.3438 9.21875 13.4688L15.2812 19.5312Z" fill="%23435563"/></svg>');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
  }
}
/* END of vertical nav styling */

/* START of search results styling */
.result {
  margin-bottom: 2rem;
  p {
    word-wrap: break-word;
  }
}
/* END of search results styling */

/* START of utility classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
